/* body{
	background-image: radial-gradient(circle at 87.5% 12.5%, #ef33f6 0, #c630e6 16.67%, #9a2ad2 33.33%, #6d22b9 50%, #3e1a9f 66.67%, #001386 83.33%, #000d70 100%);
} */

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 90%;
	height: 90vh;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* background: white; */
	/* border: 3px solid black; */
	display: grid;
	grid-template-columns: 85% 15%;
	grid-template-rows: 6% 94%;
	/* display: flex;
	justify-content: center;
	align-content: center;
	align-items: center; */
}