.main-page {
	width: 50%;
	height: 80vh;
	position: relative;
	background: #dfdfdf;
	/* border-right: 1px solid black;
	border-left: 1px solid black; */
    box-shadow: -8px 7px 22px -4px rgba(0,0,0,0.75);
}


.headerList{
	/* margin-top: 1rem; */
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	/* grid-template-rows: repeat(2, 1fr); */
	border-bottom: 1px solid black;
	padding: 1rem;
	/* justify-content: center;
	align-items: center; */
}


h1{
	grid-column: 3;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: Arial;
	
}

/* .add_task{
	width: 5rem;
	height: 2rem; */
	/* width: 1rem;
	height: .5rem; */
	/* background: blueviolet;
	padding: 2px;
	font-size: 15px;
	font-family: Arial;
	border: 0px solid transparent;
	border-radius: 2px;
	outline: none; with this you can remove a border for inputs and buttons */
	/* display: block; */
	/* grid-row: 2;
	grid-column: 1;
} */

.tasks{
	margin-top: 5px;
	padding: 10px;
	padding-right: 0px;
}

h2{
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
}

.card{
	/* gap: 1rem; */
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	margin-top: .5rem;
}

.To-do {
	display: flex;
	width: 90%;
	height: 2rem;
	background: rgb(255, 141, 48);
	color: white;
	align-items: center;
	/* justify-content: center; */
	padding-left: 5px;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.add_todo{
	width: 100%;
	display: flex;
	height: 4rem;
	justify-content: center;
	align-items: center;
	/* background: red; */
}

.add_task{
	width: 4rem;
	height: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background: #200ae7;
	border: transparent;
	border-radius: 5px;
}

.status {
	width: 10%;
	height: 100%;
	/* border-radius: 50%; */
	/* background: green; */
	display: flex;
	float: right;
	justify-content: center;
	align-items: center;
}

.circle_status{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 1px red solid;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.footer{
	width: auto;
	height: auto;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	/* transform: translate(-50%, -50%); */
}

.pagination{
	width: 100%;
	height: auto;
	/* background: green; */
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1px;
}

/* .pages {
	display: flex;
	list-style: none;
	gap: 1rem;
}

.pages li {
	width: 1rem;
	height: 1rem;
	text-align: center;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pages li a {
	text-decoration: none;
	color: black;
	font-weight: bold;
} */

.before, .next {
	width: 1rem;
	height: 1rem;
	background: white;
	border: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-radius: 1px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pagina {
	width: 1rem;
	height: 1rem;
	background: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-radius: 1px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#windowModal{
	width: 40%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	border: 2px solid rgba(3, 40, 247, 0.75);
	border-radius: 3px;
	visibility: hidden;
	padding: 1rem;
}

#windowModal::backdrop{
	background-color: rgba(0,0,0,0.9);
}

#windowModal .close {
	position: absolute;
	right: 5px;
	top: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

#windowModal .close:hover{
	cursor: pointer;
	color: red;
}

.form-modal{
	/* width: 70%; */
	/* display: flex; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* flex-wrap: nowrap; */ 
	/* justify-content: center; */
}

.form-modal input, .form-modal textarea, .form-modal button {
	grid-column: 2;
}

.form-modal textarea {
	resize: none;
}

#windowEdit{
	width: 40%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	border: 2px solid rgba(3, 40, 247, 0.75);
	border-radius: 3px;
	visibility: hidden;
	padding: 1rem;
}

#windowEdit::backdrop{
	background-color: rgba(0,0,0,0.9);
}

#windowEdit .close {
	position: absolute;
	right: 5px;
	top: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

#windowEdit .close:hover{
	cursor: pointer;
	color: red;
}

.form-modal{
	/* width: 70%; */
	/* display: flex; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* flex-wrap: nowrap; */ 
	/* justify-content: center; */
}

.form-modal input, .form-modal textarea, .form-modal button {
	grid-column: 2;
}

.form-modal textarea {
	resize: none;
}