* {
	font-family: 'Roboto', sans-serif;
}

body {
	height: 100vh;
	background-image: radial-gradient(circle at 87.5% 12.5%, #ef33f6 0, #c630e6 16.67%, #9a2ad2 33.33%, #6d22b9 50%, #3e1a9f 66.67%, #001386 83.33%, #000d70 100%);
}

header {
	width: 99.5%;
	height: 100%;
	border-radius: 3px;
	background: white;
	grid-column: 1;
	border: 1px solid rgba(0, 0, 0, 0.575);
}

section {
	width: 99.5%;
	height: calc(99.8% - 2px);
	border-radius: 3px;
	/* background: green; */
	background: white;
	grid-column: 1;
	margin-top: 5px;
	border: 1px solid rgba(0, 0, 0, 0.575);
}

.slide-var {
	width: 100%;
	height: 100%;
	background: white;
	border-radius: 3px;
	grid-area: 1 / 2 / 3 / 3;
	border: 1px solid rgba(0, 0, 0, 0.575);
}

.status-cards {
	width: 100%;
	height: 30%;
	display: flex;
	flex-wrap: nowrap;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.card {
	width: 30%;
	height: 90%;
	background: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card h2 {
	/* display: block;
	width: 100%; */
}

#asigned {
	background: #16a4c7ea;
}

#completed {
	background: #08db79c5;
}

#remaining {
	background: #f0b3d8e6;
}

.total-tasks {
	font-size: 30px;
}

.container-tasks {
	width: 100%;
	height: 70%;
	background: white;
}

.add-task {
	/* width: 100%; */
	height: 5%;
	/* display: flex; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.add-task h5 {
	display: inline;
}

.add-task button {
	position: relative;
	right: 10px;
	margin-left: auto;
	/* position: relative;
	left: 90%;
	transform: translate(-90%, 0); */

}

#new-task {
	background: #3e1a9f;
	color: white;
}

nav {
	height: 5%;
	padding: 5px;
}

.tasks {
	height: calc(90% - 27px);
	/* background: red; */
	display: flex;
	flex-wrap: wrap;
	row-gap: 5px;
	padding-left: 5px;
	overflow-y: scroll;
	padding-top: 5px;
	margin-bottom: 5px;
	margin-top: 2px;
}


.task {
	width: 98%;
	height: 48%;
	border-radius: .5rem;
	background: #109175e7;
	/* display: flex; */
	color: white;
	display: grid;
	grid-template-columns: 85% 15%;
}

.info-task {
	width: calc(100% - 12px);
	height: fit-content;
	text-align: justify;
	padding: 6px;
	display: inline-block;
	grid-column: 1;
}

.info-task h2 {
	margin-bottom: 1rem;
}

/* .info-task p{
	width: 75%;
} */

.date-options {
	grid-column: 2;
}

.dead-line {
	width: calc(100% - 12px);
	height: fit-content;
	padding: 6px;
	text-align: right;
}

.options {
	width: 100%;
	height: 20%;
	position: relative;
	top: 75%;
	transform: translate(0, -75%);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* En caso de no haber tareas se aplicaran estos estilos a un div */

.no-task {
	width: 50%;
	height: fit-content;
	color: #000d70;
	font-weight: bold;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	text-align: center;
	opacity: .5;
}

.no-task i {
	font-size: 40px;
	display: block;
}

.logout {
	padding: .1rem;
	background: gray;
	position: absolute;
	bottom: 0px;
	border-radius: 3px;
	margin-left: 3px;
	margin-bottom: 3px;
}

button {
	width: 5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.575);
}

.active {
	color: white;
	background: rgb(117, 7, 7);
}

button:hover {
	cursor: pointer;
}

.logout button {
	width: 4rem;
	border: none;
	background: none;
}

.logout button:hover {
	cursor: pointer;
}

.modal-add-task {
	width: 35%;
	height: 50%;
	background: black;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: none;
}

.modal-add-task h2 {
	position: absolute;
	top: 10px;
}



.modal-add-task form {
	width: 80%;
	height: fit-content;
	margin-top: 1.5rem;

}

.modal-add-task label {
	display: block;
	margin-top: .5rem;
}

.modal-add-task input {
	width: 100%;
}

.modal-add-task textarea {
	width: 100%;
	height: 7rem;
	resize: none;
}

.modal-add-task .buttons-new-task {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
	gap: 5px;
}

#add-new {
	background: #0a6111;
}

#cancel {
	background: #9e3b4c;
}

/* animaciones de pantalla de carga */
.lds-facebook {
	display: inline-block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80px;
	height: 80px;
}

.lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: #037192;
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
}

@keyframes lds-facebook {
	0% {
		top: 8px;
		height: 64px;
	}

	50%,
	100% {
		top: 24px;
		height: 32px;
	}
}