{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">

<header>
	<div class="logo">

	</div>
</header>

<section>
	<div class="status-cards">
		<div class="card" id="asigned"></div>
		<div class="card" id="completed"></div>
		<div class="card" id="remaining"></div>
	</div>
	<div class="container-tasks">
		<div class="add-task">
			<h5>MY TASKS</h5>
			<button id="new-task">NEW TASK</button>
		</div>
		<nav>
			<button id="today">TODAY</button>
			<button id="coming">COMING</button>
			<button id="missing">MISSING</button>
		</nav>
		<div class="tasks" id="tasks">
			<div class="task">
				<div class="info-task">
					<h2>Matematicas</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sapiente voluptates ipsam qui nobis
						ullam. Pariatur blanditiis ex error fugiat accusamus, voluptates nulla sed accusantium, quos, omnis 
						praesentium consequuntur eveniet.
					</p>
				</div>
				<div class="date-options">
					<div class="dead-line">
						TODAY
					</div>
					<div class="options">
						<span class="material-symbols-outlined">
							check_box
						</span>
						<span class="material-symbols-outlined">
							stylus
						</span>
						<span class="material-symbols-outlined">
							delete_forever
						</span>
					</div>
				</div>
			</div>
			<div class="task">

			</div>

			<div class="task">

			</div>
			<div class="task">
				
			</div>
		</div>
	</div>
</section>

<div class="slide-var">
	<div class="account">
		
	</div>
	<div class="progress">

	</div>
	<div class="logout">
		<button>Log out</button>
	</div>
</div>
<script src="{{url_for('static', filename='js/stylesIndex.js')}}"></script>
<script src="{{url_for('static', filename='js/loadTasks.js')}}"></script>
{% endblock %}