{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<ul>{{ message }}</ul>
{% endfor %}
{% endif %}
{% endwith %}

<div class="main-page">
	<div class="headerList">
		<h1>To-do List</h1>
	</div>
	<div class="tasks">


	</div>

	<div class="footer">
		<div class="pagination">
			<button class="before" id="before-page"><</button>
				<div class="pagina">
	
				</div>
			<button class="next" id="next-page">></button>
		</div>
		<div class="add_todo">
			<button class="add_task" id="add_task">ADD</button>
		</div>
	</div>

		<dialog id="windowModal">
			<p class="close">X</p>
			<form method="post" class="form-modal" action="/add/">
				<input type="text" placeholder="subject" name="subject" class="subject" required autocomplete="off">
				<input type="text" placeholder="title" name="title" class="title" required>
				<textarea name="description" id="" cols="30" rows="10" class="description"></textarea>
				<input type="date" name="deadline" id="deadline" class="deadline" required>
				<button type="submit" id="add_close">ADD</button>
			</form>
		</dialog>

		<dialog id="windowEdit">
			<p class="close" id="close-edit">X</p>
			<form method="post" class="form-modal" action="/edit/">
				<input type="hidden" id="homework" name="id_homework">
				<input type="text" placeholder="subject" name="subject" class="subject" required autocomplete="off" id="subject">
				<input type="text" placeholder="title" name="title" class="title" required id="title">
				<textarea name="description" id="description" cols="30" rows="10" class="description"></textarea>
				<input type="date" name="deadline" id="deadline" class="deadline" required min="{{today}}" value="{{today}}">
				<button type="submit" id="add_close">Update</button>
			</form>
		</dialog>
</div>
<script type="text/javascript" src="{{url_for('static', filename='js/modal_add_hk.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/loadHomeworks.js')}}"></script>
<!-- <script async type="text/javascript" src="{{url_for('static', filename='js/todo_clicks.js')}}"></script> -->
{% endblock %}